

<nav class="navbar navbar-expand-lg custom_nav  bg-white position-sticky">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/images/JumiaLogo_(14).png" alt="sorry can't found" width="170" height="30" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler custom_btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars custom_icon"></i>
    </button>
    <div class="collapse navbar-collapse content justify-content-around" id="navbarSupportedContent">
         <div class="row  justify-content-around">
          <form class="d-flex col-8" (ngSubmit)="search()">
            <input class="form-control me-2 search_input" type="search" placeholder="Search" name="search" aria-label="Search"  [(ngModel)]="title">
            <button class="btn search_btn "  type="submit">Search</button>
          </form>
    
          <div class="collapse navbar-collapse col-4 row justify-content-around" id="navbarSupportedContent">
            <div class="account col-7">
              <ul class="navbar-nav  mb-lg-0 justify-content-end">
                <li style="list-style:none;" class="nav-item dropdown text-white account_li ">
                  <a class="nav-link dropdown-toggle" href="/pofiles" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   <i class=" fa fa-user"></i> {{name}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/login" *ngIf="!isLoggedIn" >login</a></li>
                    <li><a class="dropdown-item" href="/signup" *ngIf="!isLoggedIn">signup</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a *ngIf="isLoggedIn && !flag" class="dropdown-item" href="/profiles"> profile </a></li>
                    <li><a href=""  class="dropdown-item" (click)="logout()" *ngIf="isLoggedIn"> logout</a></li>
                  </ul>
                </li>
              <li  class="nav-item">
                <a class="nav-link" *ngIf="flag" href="/admin">Admin</a>
              </li>
            </ul>
            </div>
            
            <div class="cart col-5 justify-content-end ">
              <a class="nav-link " href="/cart" tabindex="-1"><i class="fa fa-shopping-cart"></i>  Cart
                <span class="cartNum badge  badge-secondary bg-warning rounded-circle"  > {{cartItem}} </span>
               </a>
            </div>
          </div>
         </div>
        
    

      






      <!-- <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link custom_item new_color" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom_item new_color" href="#">our products </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link custom_item new_color" href="#about" tabindex="-1" aria-disabled="true"> about us </a>
        </li>
      
      <li class="nav-item">
        <a class="nav-link custom_item new_color " href="#" tabindex="-1" aria-disabled="true"> contact us </a>
      </li>
      </ul> -->
     
      
    </div>
  </div>
</nav>
