<section class="privacy">
    <div class="container">
        <div class="row mt-3">
            <p class="head1 "> Privacy and Cookie Notice </p>
             <div class="border-bottom border-warning border-2 "></div>
        </div>
        <div class="custom_box rounded-3" style="margin-top:40px; font-size:18px;padding: 20px 40px;">
      
            <div class="contents listformat mb-3 mt-2"> Contents </div>
            <ul style="list-style-type: decimal;" class="custom-ul ">
              <li><a href="#q1" class="ques text-decoration-none  ">About this Privacy and Cookie Notice </a></li>
              <li><a href="#q2" class="ques text-decoration-none ">The data we collect about you</a></li>
              <li><a href="#q3" class="ques text-decoration-none ">Cookies and how we use them</a></li>
              <li><a href="#q4" class="ques text-decoration-none ">How we use your personal data</a></li>
              <li><a href="#q5" class="ques text-decoration-none ">How we share your personal data </a></li>
              <li><a href="#q6" class="ques text-decoration-none ">International transfers </a></li>
              <li><a href="#q7" class="ques text-decoration-none ">Data security </a></li>
              <li><a href="#q8" class="ques text-decoration-none ">Your legal rights</a></li>
              <li><a href="#q9" class="ques text-decoration-none ">Further details </a></li>
            </ul>
          </div>
          <div id="q1" style="margin:30px 0">
            <div class="contents listformat  mb-3 mt-2"> 1. About this Notice  </div>
            <p class="txt">
                This Privacy and Cookie Notice provides information on how Jumia collects and processes your personal data when you visit our website or mobile applications.
            </p>
          </div>
          <div id="q2" style="margin:30px 0">
            <div class="contents listformat mb-3 mt-2">2. The data we collect about you </div>
            <p class="txt">We collect your personal data in order to provide and continually improve our products and services.<br>
              We may collect, use, store and transfer the following different kinds of personal data about you:<br>
              </p><ul>
                <li>Information you provide to us:  We receive and store the information you provide to us including your identity data, contact data, delivery address and financial data. </li>
                <li>Information on your use of our website and/or mobile applications: We automatically collect and store certain types of information regarding your use of the Jumia marketplace including information about your searches, views, downloads and purchases.</li>
                <li>Information from third parties and publicly available sources: We may receive information about you from third parties including our carriers; payment service providers; merchants/brands; and advertising service providers. </li>
              </ul>
            <p></p>
          </div>
          <div id="q3" style="margin:30px 0">
            <div class="contents listformat mb-3 mt-2">3. Cookies and how we use them   </div>
            <p class="txt">A cookie is a small file of letters and numbers that we put on your computer if you agree.<br>
              Cookies allow us to distinguish you from other users of our website and mobile applications, which helps us to provide you with an enhanced browsing experience.  For example we use cookies for the following purposes:<br>
              </p><ul>
                <li>Recognising and counting the number of visitors and to see how visitors move around the site when they are using it (this helps us to improve the way our website works, for example by ensuring that users can find what they are looking for).
                  </li>
                <li>Identifying your preferences and subscriptions e.g. language settings, saved items, items stored in your basket and primo membership</li>
                <li>Sending you newsletters and commercial/advertising messages tailored to your interests. </li>
              </ul><br>
              Our approved third parties may also set cookies when you use our marketplace.  Third parties include search engines, providers of measurement and analytics services, social media networks and advertising companies. 
            <p></p>
          </div>
          <div id="q4" style="margin:30px 0">
            <div class="contents listformat mb-3 mt-2">4. How we use your personal data </div>
            <p class="txt">We use your personal data to operate, provide, develop and improve the products and services that we offer, including the following:
                </p><ul>
                    <li>Registering you as a new customer.</li>
                    <li>Processing and delivering your orders.</li>
                    <li>Managing your relationship with us.</li>
                    <li>Enabling you to participate in promotions, competitions and surveys. </li>
                    <li>Improving our website, applications, products and services</li>
                    <li>Recommending/advertising products or services which may be of interest to you.</li>
                    <li>Complying with our legal obligations, including verifying your identity where necessary. </li>
                    <li>Detecting fraud</li>
                  </ul><br>
        <p></p>
          </div>
          <div id="q5" style="margin:30px 0">
            <div class="contents listformat mb-3 mt-2">5. How we share your personal data</div>
            <p class="txt">We may need to share your personal data with third parties for the following purposes:
              </p><ul>
                <li>Sale of products and services: In order to deliver your products and services purchased on our marketplace from third parties, we may be required to provide your personal data to such third parties. </li>
                <li>Working with third party service providers: We engage third parties to perform certain functions on our behalf. Examples include fulfilling orders for products or services, delivering packages, analyzing data, providing marketing assistance, processing payments, transmitting content, assessing and managing credit risk, and providing customer service. 
                    </li>
                <li>Business transfers: As we continue to develop our business, we might sell or buy other businesses or services. In such transactions, customer information may be transferred together with other business assets. </li>
                <li>Detecting fraud and abuse: We release account and other personal data to other companies and organizations for fraud protection and credit risk reduction, and to comply with the law.  </li>
              </ul><br>
                
              When we share your personal data with third parties we: <br>
              <ul>
                  <li>require them to agree to use your data in accordance with the terms of this Privacy and Cookie Notice, our Privacy Policy and in accordance with the law</li>
                <li>only permit them to process your personal data for specified purposes and in accordance with our instructions.  We do not allow our third-party service providers to use your personal data for their own purposes. </li>
              </ul><br>
            <p></p>
          </div>
          <div id="q6" style="margin:30px 0">
            <div class="contents listformat mb-3 mt-2">6. International transfers </div>
            <p class="txt">We may transfer your personal data to locations in another country, if this is permissible pursuant to applicable laws in your location.  There are inherent risks in such transfers.  <br>
              In the event of international transfers of your personal data, we shall put in place measures necessary to protect your data, and we shall continue to respect your legal rights pursuant to the terms of this Privacy and Cookie Notice and applicable laws in your location. 
            </p>
          </div>
          <div id="q7" style="margin:30px 0">
            <div class="contents listformat mb-3 mt-2">7.  Data security   </div>
            <p class="txt">We have put in place appropriate security measures to prevent your personal data from being accidentally lost, used or accessed in an unauthorised way, altered or disclosed. <br>
              In addition, we limit access to your personal data to those employees, agents, contractors and other third parties who have a business need to know. They will only process your personal data on our instructions and they are subject to a duty of confidentiality.<br>
              We have put in place procedures to deal with any suspected personal data breach and will notify you and any applicable regulator of a breach where we are legally required to do so.
      
            </p>
          </div>
          <div id="q8" style="margin:30px 0">
            <div class="contents listformat mb-3 mt-2">8.  Your legal rights </div>
            <p class="txt">It is important that the personal data we hold about you is accurate and current. Please keep us informed if your personal data changes during your relationship with us.
    
                <br>Under certain circumstances, you have rights under data protection laws in relation to your personal data, including the right to access, correct or erase your personal data, object to or restrict processing of your personal data, and unsubscribe from our emails and newsletters.
            </p>
          </div>
          <div id="q9" style="margin:30px 0">
            <div class="contents listformat mb-3 mt-2">9.  Further details</div>
            <p class="txt">
                If you are looking for more information on how we process your personal data, or you wish to exercise your legal rights in respect of your personal data, <a href="mailto:ComplianceAlert@Jumia.com">please contact</a><br>

            </p>
          </div>
          <div class="checked text-center">
            <label for="privacy" class="contents txt_pr"> I certify that i am at least 18 years old and that i agree to the terms and privacy policy  </label>
            <input type="checkbox" name="privacy" id="privacy" class="ms-2 custom_checkbox">
          </div>
    </div>
</section>
