*{
  /* margin: 0; */
  /* padding:0; */
  box-sizing: border-box;

}

/* .custom-card{
  border: none;
  width: 500px;
  padding: 40px;
 
  background: hsla(205, 46%, 30%, 1);
  background: linear-gradient(90deg,hsla(205, 46%, 30%, 1) 0% , hsla(260,29%,36%,1) 100%);
} */
/* label{
  font-size:17px;
  padding:5px;
} */
/* input{
  height: 35px;
} */
/* .custom-card label, h1 ,h6{
  color: #fff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a
{
  color: rgba(240, 162, 16, 0.988);
  text-decoration: none;
  position: relative;
  top: 15px;
}
a:hover{
  color: rgba(189, 139, 46, 0.988);
}
.btn-google{
  top:0;
  margin-left:10px;
} */
/* gdeed************************************************ */
.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  width: 480px;
}
.logo {
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: center;
  margin: 0 0 8px;
  position: relative;
}
.logo img{
  width: 55px;
  height: 55px;
}
.signup_link{
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #f68b1e;
}
input{
  height: 43px;
}
.gogle{
  margin-top: 80px;
  height: 40px;
}
.endImg{
  width: 100px;
  margin: auto; 
}