
<section class="mt-5 d-flex flex-xl-row flex-md-column flex-column justify-content-around align-items-center">
<div *ngFor="let t of title">
    <img width="220" height="220" src="{{imgsrc}}/{{t.image}}" alt="">
    <h3>{{t.title}}</h3>
    <p>Price: {{t.price}} EGP</p>
    <p *ngIf="t.discount">Discount: {{t.discount}} EGP</p>
</div>
</section>
    <!-- <div class="card">
        <div class="zoom-img">
        <a routerLink="product/{{t.id}}">
            <img class="card-img-top img-thumbnail" src="{{imgsrc}}/{{t.image}}" alt="{{t.image}}">
        </a>
        </div>
    </div>
</div>
</section> -->
         <!-- </a>
        </div>
        <div class="card-body">
            <a routerLink="product/{{t.id}}" class="text-decoration-none product_title">
                <h5 style="text-transform:capitalize ;">{{t.title}} </h5>
            </a>
            <div class="row">
                <div  class="col-xl-6 col-lg-6 col-md-6 col-12 text-muted mb-3">price: {{t.price}} EGP</div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <button style="font-size:15px" class="btn minus_btn me-2 " (click)="minus()"> <i class="fa fa-minus"></i> </button>

                    <input type="" class="p-1 text-center" style="width:80px;font-size:17px;border:1px solid #f68b1e" [(ngModel)]="quantity">
                    <button style="font-size:15px" class="btn plus_btn mx-2" (click)="plus()"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <button class="btn w-100 add_btn my-2" (click)="Addtocart()">Add to cart</button>
        </div>
    </div> -->

<!-- </div> -->
<!-- </section> -->