
<section class="banner container mb-5">
  <div class="row text-center">
    <img src="../../../../assets/images/contactus.jpg" alt="contact not found" class="w-100">
    <h3 class="mt-3 txt_head">Check Our Working Hours & Don't Hesitate To Reach Out For Help!</h3>
    <img src="../../../../assets/images/Jumia-Logo.png" alt="logo not found" class="w-25 m-auto">
  </div>
  <div class="row" style="width: 60%; margin: 0 auto;">
    <div class="col-6  custom_txt">
        <div>
            <h2 style="margin-top: 21px;">Customer Service</h2>
        </div>
    </div>
    <div class="col-6 custom_txt">
            <div style="padding: 7%;">
                <p style="color: black; ">7 Days a week</p>
                <p>09:00 am - 08:00 pm</p>
                <p style="font-size: 17px; color: black;">Hotline: <a href="tel:19586" style="color: white;">19586</a></p>
            </div>
    </div>

</div>
</section>


<section class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
            <div class="containers">

            <form action="action_page.php">
                <div class="rows">
                  <div class="col-25">
                    <label for="fname">full Name</label>
                  </div>
                  <div class="col-75">
                    <input type="text" id="fname" name="fullname" placeholder="Your full name">
                  </div>
                </div>
                <div class="rows">
                  <div class="col-25">
                    <label for="lname">Email</label>
                  </div>
                  <div class="col-75">
                    <input type="email" id="lname" name="email" placeholder="Email">
                  </div>
                </div>
                <div class="rows">
                  <div class="col-25">
                    <label for="subject">Subject</label>
                  </div>
                  <div class="col-75">
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                  </div>
                </div>
                <div class="rows">
                  <input type="submit" value="Submit">
                </div>
              </form> 
        </div>
    </div>
        <div class="mt-md-4 col-xl-6 col-lg-6 col-md-12 col-12 text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3413.013465930615!2d29.9039005149874!3d31.192639981479285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c394ebd03ec1%3A0x16cbff5d844ff34b!2sInformation%20Technology%20Institute!5e0!3m2!1sen!2seg!4v1668129752615!5m2!1sen!2seg" class="w-100" height="400px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    

</section>
