<section class="one container">
	<!-- <button (click)="test()">Test</button> -->
		<div class="row mt-3">
            <p class="head1 "> {{'About Us'|translate}} </p>
             <div class="border-bottom border-warning border-2 "></div>
        </div>
		<div class="row mt-4">
			<iframe class="video" src="https://www.youtube.com/embed/aRUtFc_Z4OQ" allowfullscreen="">
			</iframe>
		</div>
</section>

<section class="abou mt-5 container mb-5">
	<h4 class="head1 mt-3" style="text-align:left;">{{'Our history'|translate}} </h4>
	<ul>
		<li>
			{{'Jumia Egypt\'s no. 1 online mall was established in July 2012 with the aim and vision to become the one-stop shop in Egypt with implementation of best practices both online and offline.'|translate}}
		</li>
		<li>
			{{'Jumia is the largest online mall store in Egypt.'|translate}}
		</li>
		<li>
			{{'At inception we did an average delivery time of a week, today we do, on average, delivery in 1-5 days.'|translate}}
		</li>
		<li>
			{{'Initially starting with 3 employees, Jumia presently has a staff strength of 350 young and entrepreneurial Egyptians'|translate}}
		</li>
		<li>
			{{'Deliveries to all Cities in Egypt.'|translate}}
		</li>

	</ul>
</section>

<section class="text-center our-team container mt-5">
<h4 class="head1 mt-3" style="text-align:left;">{{'Meet the Team'|translate}} </h4>

</section>
<section class="container teamss">
	<div>
		<img src="../../../../assets/images/ahmed.jpg" alt="">
		<h3>{{'Ahmed Faisal'|translate}}</h3>
		<p>{{'Full Stack Developer Using PHP Laravel, Angular'|translate}}</p>
	</div>
	
	<div>
		<img src="../../../../assets/images/marwa.jpeg" alt="">
		<h3>{{'Marwa Abdullah'|translate}}</h3>
		<p>{{'Full Stack Developer Using PHP Laravel, Angular'|translate}}</p>


	</div>
	<div>
		<img src="../../../../assets/images/magdy.jpeg" alt="">
		<h3>{{'Ahmed Magdy'|translate}}</h3>
		<p>{{'Full Stack Developer Using PHP Laravel, Angular'|translate}}</p>
		<h6>{{'Team Leader'|translate}}</h6>
	</div>
</section>
<section class="teamsss container">
	<div>
		<img src="../../../../assets/images/omar.jpg" alt="">
		<h3>{{'Omar Shahawy'|translate}}</h3>
		<p>{{'Full Stack Developer Using PHP Laravel, Angular'|translate}}</p>

	</div>
	
	<div>
		<img src="../../../../assets/images/hagar.jpg" alt="">
		<h3>{{'Hagar Hassan'|translate}}</h3>
		<p>{{'Full Stack Developer Using PHP Laravel, Angular'|translate}}</p>

	</div>
</section>

