<section class="w-100 breadcrumb">
	<div class="container mt-5 p-5 mb-5">
		<h2 class="text-white">About Us</h2>
	</div>
</section>
<section class="abou mt-5 container mb-5">
	<h2 class="text-center">About us</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ad in nam minus, saepe ullam itaque. Maxime nam natus fugiat doloribus odio optio aliquam, beatae quas et? Non corrupti ratione officia voluptas, dolore minima voluptatibus temporibus facere sit exercitationem deserunt ab iste explicabo eveniet dolores. Facilis dolore tempore porro iusto sunt ipsam, sint asperiores fugit architecto temporibus velit, dolorum maxime? Sapiente deserunt ratione eos ipsum ipsa voluptatibus laudantium voluptas laboriosam.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ad in nam minus, saepe ullam itaque. Maxime nam natus fugiat doloribus odio optio aliquam, beatae quas et? Non corrupti ratione officia voluptas, dolore minima voluptatibus temporibus facere sit exercitationem deserunt ab iste explicabo eveniet dolores. Facilis dolore tempore porro iusto sunt ipsam, sint asperiores fugit architecto temporibus velit, dolorum maxime? Sapiente deserunt ratione eos ipsum ipsa voluptatibus laudantium voluptas laboriosam.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ad in nam minus, saepe ullam itaque. Maxime nam natus fugiat doloribus odio optio aliquam, beatae quas et? Non corrupti ratione officia voluptas, dolore minima voluptatibus temporibus facere sit exercitationem deserunt ab iste explicabo eveniet dolores. Facilis dolore tempore porro iusto sunt ipsam, sint asperiores fugit architecto temporibus velit, dolorum maxime? Sapiente deserunt ratione eos ipsum ipsa voluptatibus laudantium voluptas laboriosam.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ad in nam minus, saepe ullam itaque. Maxime nam natus fugiat doloribus odio optio aliquam, beatae quas et? Non corrupti ratione officia voluptas, dolore minima voluptatibus temporibus facere sit exercitationem deserunt ab iste explicabo eveniet dolores. Facilis dolore tempore porro iusto sunt ipsam, sint asperiores fugit architecto temporibus velit, dolorum maxime? Sapiente deserunt ratione eos ipsum ipsa voluptatibus laudantium voluptas laboriosam.</p>
</section>

<section class="text-center our-team container mt-5">
<h2>OUR TEAM</h2>

</section>
<section class="container teamss">
	<div>
		<img src="../../../../assets/images/ahmed.jpg" alt="">
		<h3>Ahmed Faisal</h3>
		<p>Team Member</p>
	</div>
	
	<div>
		<img src="../../../../assets/images/marwa.jpeg" alt="">
		<h3>Marwa Abdullah</h3>
		<p>Team Member</p>

	</div>
	<div>
		<img src="../../../../assets/images/magdy.jpeg" alt="">
		<h3>Ahmed Magdy</h3>
		<p>Team Member</p>

	</div>
</section>
<section class="teamsss container">
	<div>
		<img src="../../../../assets/images/omar.jpg" alt="">
		<h3>Omar Shahawy</h3>
		<p>Team Member</p>

	</div>
	
	<div>
		<img src="../../../../assets/images/hagar.jpg" alt="">
		<h3>Hagar Hassan</h3>
		<p>Team Member</p>

	</div>
</section>

