<app-header></app-header>
<section class="bg-light d-flex justify-content-center align-items-center">
  <div class="card custom-card mt-3">
    <div class="text-center">
      <h2 class="text-center text-warning mb-1">{{'Add Product'|translate}}</h2>
    </div>
<form [formGroup]="form" (ngSubmit)="submitForm()" >
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">{{'Product Name'| translate}}:</label>
    <input formControlName="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)" id="emailHelp" class="form-text">
      <p class="alert alert-danger mt-3">* {{'Product Name is required'|translate}}</p>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">{{'Image Link'|translate}}: </label>
    <input type="text" class="form-control" formControlName="image">
  </div>
  <div class="mb-3">
    <label class="form-label">{{'Price'|translate}}: </label>
    <input formControlName="price" type="text" class="form-control" />
    <div *ngIf="form.controls['price'].invalid && (form.controls['price'].dirty || form.controls['price'].touched)" id="emailHelp" class="form-text">
      <p class="alert alert-danger mt-3">* {{'price required'|translate}}</p>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">{{'Discount'|translate}}: </label>
    <input formControlName="discount" type="text" class="form-control" />
  </div>
  <div class="mb-3">
    <label class="form-">Category: </label>
    <select class="form-select" formControlName="category" aria-label="Default select example">
     <option *ngFor="let c of categories" value="{{c.name}}">{{c.name}}</option>
    </select>

  </div>
  <div class="mb-3">
    <label class="form-label">{{'Details'|translate}}: </label>
    <input formControlName="details" type="text" class="form-control" />
    <div *ngIf="form.controls['details'].invalid && (form.controls['details'].dirty || form.controls['details'].touched)" id="emailHelp" class="form-text">
      <p class="alert alert-danger mt-3">* {{'Details are required'|translate}}</p>
    </div>
  </div>
  <div class="form-group d-flex justify-content-center ">
    <input type="submit" class="w-50 btn btn-outline-warning" value="{{'Add'|translate}}" />
  </div>

</form>
</div>
</section>