<div class="container mt-5 text-center">
    
    <form style="padding:20px;border:5px solid rgb(255, 132, 0)" action="" class="m-auto w-50">
        <h3 class="mb-5">Reset Password </h3>
        <div class="mb-3">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12">
                   <h5>EMAIL</h5>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-12 col-12">
         <input type="email" name="email" class="form-control" id="">
        </div>

        </div>
    </div>
    <div class="button-reset">
        <button type="submit" class="w-100 btn btn-warning">Send Reset Link</button>
    </div>
    </form>
</div>