
<section class=" one mb-5 mt-4 container">
        <div class="row">
                <div class="bg-white left col-xl-3 col-lg-3 col-md-12 col-12">
                       <app-categories></app-categories>
                </div>
                <div class="right col-xl-9 col-lg-9 col-md-12 col-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                                <div class="carousel-indicators">
                                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img height="300" src="../../../../assets/images/FS---EN---DE.gif" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img height="300" src="../../../../assets/images/1152x252.png" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img height="300" src="../../../../assets/images/bannerjumia.jpg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                </div>
        </div>
</section>
<section class=" two container text-center mt-5 mb-5">
        <p class="bg-dark txt_header w-100 mb-2"> Latest products</p>
        <app-latest></app-latest>
</section>

<section class="three container text-center mt-5 mb-5">
        <p class="bg-dark txt_header w-100 mb-2"> Offers of products</p>
        <app-discount-slider></app-discount-slider>
</section>

<section class="bg-dark text-white p-2 text-center four container mt-5 mb-5">
        <h4>Our Products</h4>
</section>

<section class="container mt-5 mb-5">
<div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-6">
        <select (change)="onSortDirection()" [(ngModel)]='SortbyParam' class="form-control">
        <option disabled value="">sort by price</option>
      <option *ngIf="SortDirection==='asc' ? 'desc' :'asc'" value="price">High to Low</option>
        <option *ngIf="SortDirection==='asc' ? 'desc' :'asc'" value="price">Low to High</option>
        </select>

        </div> 
        <div class="col-xl-4 col-lg-4 col-md-6 col-6">
        <input type="search" name="search" placeholder="search by name" (input)="search()" [(ngModel)]="title" id="" class="form-control">
        </div>
</div>
</section>

<section class="container" >
        
<div class="row">
        <!-- <div class="col-4"> -->

<div class="col-xl-4 col-lg-6 col-md-12 col-12 p-2" *ngFor="let product of products |  paginate: { itemsPerPage: 12, currentPage: page, totalItems: total } |sort:[SortbyParam,SortDirection]">
        <app-product-item  [product]="product" (item)="addtocart($event)"></app-product-item>
        </div>
</div>
<!-- </div> -->
</section>
<pagination-controls class="text-center" (pageChange)="pageChangeEvent($event)"></pagination-controls>








