        
<section class="mb-5">
<img style="filter:brightness(50%);" src="../../../../assets/images/banner2.jpg" alt="" class="w-100 img-fluid">
</section>
<section class="text-center mt-5 mb-5">
        <h2>{{'Our Products'|translate}}</h2>
</section>
<div class="container filteration mt-5 mb-5">

</div>
<section class="container mt-5 mb-5">
<div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-6">
        <select (change)="onSortDirection()" [(ngModel)]='SortbyParam' class="form-control">
        <option disabled value="">{{'Sort by Price'|translate}}</option>
      <option *ngIf="SortDirection==='asc' ? 'desc' :'asc'" value="price">{{'High to Low'|translate}}</option>
        <option *ngIf="SortDirection==='asc' ? 'desc' :'asc'" value="price">{{'Low to High'|translate}}</option>
        </select>

        </div> 
        <div class="col-xl-4 col-lg-4 col-md-6 col-6">
        <input type="search" name="search" placeholder="{{'search by name'|translate}}" (input)="search()" [(ngModel)]="title" id="" class="form-control">
        </div>
</div>
</section>

<!-- <section id="products">
    <div class="container" *ngFor="let product of products">
            <div class="row col-4 " >
            <app-product-item [product]="product" (item)="addtocart($event)"></app-product-item>
    </div>

</div>
<pagination-controls class="text-center" (pageChange)="pageChangeEvent($event)"></pagination-controls>
</section> -->
<section class="container" >
        
<div class="row">
        <!-- <div class="col-4"> -->

<div class="col-xl-4 col-lg-6 col-md-12 col-12 p-2" *ngFor="let product of products |  paginate: { itemsPerPage: 12, currentPage: page, totalItems: total } |sort:[SortbyParam,SortDirection]">
        <app-product-item  [product]="product" (item)="addtocart($event)"></app-product-item>
        </div>
</div>
<!-- </div> -->
</section>
<pagination-controls class="text-center" (pageChange)="pageChangeEvent($event)"></pagination-controls>








