<header class="w-100 bg-dark">
  <nav class="navbar container navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Team5</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link text-white" style="text-decoration:none;" routerLinkActive="active" routerLink="/admin">Products</a>
      </li>
      <li class="nav-item"><a class="nav-link text-white" style="text-decoration:none;" routerLinkActive="active"
          routerLink="/AddProducts">AddProducts</a></li>
      <li class="nav-item"><a class="nav-link text-white" style="text-decoration:none;" routerLinkActive="active" routerLink="/orders">Orders</a>
      </li>
    </ul>
      <li class="dropdown">
        <a class=" dropdown-toggle text-white" style="text-decoration: none;" href="#" id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="text-secondary fa fa-user"></i> {{name}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a href="/login" class="dropdown-item" (click)="logout()" *ngIf="isLoggedIn"> logout</a></li>
        </ul>
      </li>
    </div>
</div>
  </nav>
</header>
